@model HomeModel
@{
    ViewBag.Title = "Home Page";
}


<div id="templates" style="display:none">

  <div id="templateServiceFlow">
    <div class="sflow" sflowID="-1">
      <div class="sflow_header">
        <div class="sflow_tiltle">
          <input type="text" name="name" class="sflow_title_input" placeholder="Add new flow" style="border:0px; background-color: #f3edec;" />
        </div>
        <div class="sflow_buttons">
          <button class="btnAddFlow1">Add</button>
          <button class="btnUpdateFlow">Update</button>
        </div>
      </div>
      
    </div>
  </div>
  <div id="templateServiceFlowEntry">
    <div class="sflow_entry" id="-1">
      <div class="entry_title">Title</div>
      <div class="entry_img"></div>
      <div class="entry_desc"></div>
    </div>
  </div>
  


</div>

@foreach (CountryTemplateModel country in Model.List)
{
  <div idCountry="@country.ID" class="country" style="background-color:deepskyblue;">
    <div class="flag" style="background-image:url(http://services.app.mobilepaywall.com/images/_flags/@(country.TwoLetterIsoCode).png);  "></div>
    @country.Name
  </div>
  foreach (MerchantTemplateModel merchant in country.Merchants)
  {

    <div class="merchant" style="background-color:beige; display:none;">@merchant.Name</div>
    foreach (ServiceTemplateModel service in merchant.Services)
    {

      <div class="service_holder" serviceID="@service.ID" style="display:none;">
        <div class="service_header">
          <div class="serviceTitle">@service.Name</div>
          <div class="serviceProvider">@service.ProviderName</div>
          <div class="serviceButtons">
            <button class="btnAddFlow">Add</button>
            <button>Update</button>
            <div style="clear:both"></div>
          </div>
        </div>
        <div class="service_flows" is_data_loaded="false">


        </div>
      </div>

     
    }

  }
}
}<script>
  $(document).ready(function () {

    $('.country').click(function () {
      $(this).nextUntil('.country').toggle();
      $('.service_holder').css('display', 'none');
    });
    $('.merchant').click(function () {
      $(this).nextUntil('.merchant').toggle();

    });

    $('.service_header').click(function () {
      var parent = $(this).closest('.service_holder');
      var id = parent.attr('serviceID');
      var sflowsEleme = parent.find('.service_flows');

      $.ajax({
        url: '/Home/ServiceFlowsView',
        data: { sid: id },
        method: 'GET',
        dataType: 'html',
        success: function (response) {

          parent.find('.service_flows').html(response);
          parent.find('.service_flows').attr('is_data_loaded', 'true');
          //$('.service_flows').html(response);
        }
      });

      //sflowsEleme.prepend($('#templateServiceFlow').html());
      //sflowsEleme.css('display', 'block');
      sflowsEleme.toggle();
    });


    $('body').on('click', '.btnAddFlow', function () {
      //var parent = $(this).closest('.service_holder');
      //var id = parent.attr('serviceID');
      //var sflowsEleme = parent.find('.service_flows');

      //$.ajax({
      //  url: '/Home/ServiceFlowsView',
      //  data: { sid: id },
      //  method: 'GET',
      //  dataType : 'html',
      //  success: function (response) {
          
      //    parent.find('.service_flows').html(response);
      //    parent.find('.service_flows').attr('is_data_loaded', 'true');
      //    //$('.service_flows').html(response);
      //  }
      //});

      //sflowsEleme.append($('#templateServiceFlow').html());
      //sflowsEleme.css('display', 'block');
      
    });

    $('body').on('click', '.btnUpdateFlow', function () {
      var parent = $(this).closest('.service_holder');
      var title = $(this).closest('.sflow_header').find('.sflow_title_input').val();
      var serviceID = parent.attr('serviceID');
      var flowID = $(this).closest('.sflow').attr('sflowID');

     
      $.ajax({
        url: '/Home/AddFlow',
        method: 'POST',
        data: { title: title, serviceID: serviceID, flowID: flowID },
        succes: function (response) {

          /*
            // provjeriti prije toga da li vec ubacen tml (preko nekog attributa)
            $('uTajdivKojitreba).html(response);
          */

          if (response.status) {
            
            //  $(this).closest('.service_flows').append($('#templateFlowEntry').html());

          } else {
            alert(response.message);
          }
        }
      });
    });
    
  });



</script>